/* myStyle.css */

:root {
  --black: #000;
  --white: #fff;
  --red: #F15A24;
  --cadetblue: #5f9ea0;
  --dimgrey: #696969;
  --pfont: 'Merriweather';
  --h1font: 'Rubik', sans-serif;
}

html,
body {
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  height: 100%;
}

h1 {
  color: var(--white);
  display: inline-block;
  flex-basis: auto;
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  font-family: var(--h1font);
  font-weight: 700;
  border: 0 solid var(--black);
  margin-top: 0px;
  width: 100%;
}
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}
h2 {
  color: var(--black);
  text-align: center;
  font-family: var(--pfont);
  margin-bottom: 5px;
}

h3 {
  display: inline-block;
  color: var(--black);
  text-align: center;
  font-family: var(--pfont);
  font-weight: 400;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p {
  font-family: var(--pfont);
  color: var(--dimgrey);
  text-align: left;
  font-weight: 400;
  padding: 5px 20px 10px 20px;
  line-height: 1.6em;
  max-width: 600px;
}

a {
  color: var(--cadetblue);
  text-decoration: none;
}

ul {
  font-family: var(--pfont);
  color: var(--dimgrey);
  margin-bottom: 0px;
}

li {
  margin-top: 0px;
  margin-bottom: 0px;
}

#logo {
  margin-top: 50px;
}

#logo img {
  margin-top: 100px;
  width: 30%;
}

.subtitle {
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0;
  border: 0 solid var(--black);
  font-style: italic;
  margin-right: 0px;
} 

@media (max-width: 767px) {
  [id='#logo'] img {
    width: 80%;
    }
}

.white {
    color: var(--white);
}
.white-border {
    border: 2px solid var(--white);
}

.EFCAlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
}

.listnav {
  background-color: var(--white);
  overflow: hidden;
  list-style-type: none;
  font-family: var(--pfont);
  font-weight: 600;
  font-size: 14px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 80px;
  margin: 0;
  padding: 0px 0px 28px 0px;
  box-sizing: border-box;
  order: 99;
}

.listnav a {
  float: left;
  display: block;
  color: var(--black);
  text-align: center;
  padding: 28px 10px 10px 10px;
  margin: 0px 10px;
  text-decoration: none;
  font-size: 17px;
}
@media (max-width: 768px) {
  .listnav a {
    font-size: 12px;
    padding: 24px 10px;
    border: 0px;
  }
}

.listnav a:hover {
  color: var(--black);
  border-bottom: 4px solid var(--black);
}

.listnav a.active {
  background-repeat:no-repeat;
  color: var(--red);
}

.top-right-nav {
    background-color: var(--red);
    border: 4px solid var(--red)off;
    height: 80px;
    box-sizing: border-box;
}

.top-right-nav a {
    color: whitesmoke;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.centerlodging {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
}

.buffer {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    border: 4px solid var(--red)off;
    margin: 0px;
    padding: 0px;
    
}


/*HERO*/
#logo {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  height: 90vh;
  background: linear-gradient(
    rgba(255, 255, 255, .65),
    rgba(0, 0, 0, 0.45)
     ),
      url(http://jackasstheology.com/wp-content/uploads/2019/06/baptism.jpg)  center no-repeat fixed;  
    background-size: cover;
    
} 

#logo img {
    width: 100%;
    height: 30%;
    margin-top: 200px;
    margin-bottom: 10%;
}


/* SUBSCRIBE */

#dmcohort-mailchimp {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 750px;
    min-height: 700px;
    max-height: 2000px;
    overflow: visible;
    background: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.6)
        ),
        url(http://jackasstheology.com/wp-content/uploads/2019/06/cohort_1.jpg) center no-repeat var(--black);
    background-size: cover;
}
@media (max-width: 767px) {
    #dmcohort-mailchimp  {
    min-height: 900px;
    overflow: visible;
    }
}

#mc_embed_signup {
    flex-basis: auto;
    background: none !important;
    font-family: var(--pfont);
    color: var(--white);
    border: 1px solid var(--red)off;
    height: 100%;
    width: 70vw;
    max-width: 800px;
}

.subscribe-form {
    height: 100%;
}

.subscribe-form H1 {
    font-family: var(--pfont);
    color: var(--white);
    display: inline-block;
    font-weight: 300; 
    line-height: 1em;
    padding: 30px 20px 30px 20px;
    margin: 80px 20% 40px 20%;
    box-sizing: border-box;
    max-width: 600px;
    text-align: center;
    border: 2px solid var(--white);
}

.subscribe-form .people {
    color: var(--white);
    text-align: cetner; 
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}
@media (max-width: 767px){
    .subscribe-form H2 {
    padding: 5px;
    text-align: center;
    width: 100%;
    margin: 0;
    }
    .subscribe-form .people {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    width: 100%;
    margin: 0;
    }
}

.field-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 100px;
    margin-top: 0px;
}

.field-email {
    order: -3;
    height: 100px;
    flex-basis: 100%;
}

.field-first {
    order: -2;
    height: 100px;
    flex-basis: 45%;
}

.field-last {
    order: -1;
    height: 100px;
    flex-basis: 45%;
}

#mc-embedded-subscribe {
    flex-basis: 100%;
}

#mc-embedded-subscribe-form .button {
    flex-basis: 100%;
    color: var(--white);
    background-color: rgba(90, 158, 160, 0.75);    
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 0px;
    border: 2px solid var(--white)off;
    padding: 15px 40px 15px 40px;
    width: 300px;
    text-align: center;
    margin-top: 30px;
    height: auto;
}

#mc-embedded-subscribe-form .button:hover {
    background-color: rgba(241, 90, 36, 0.65);   
}
#mc-embedded-subscribe-form .clear {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
    .field-first {
    order: -2;
    flex-basis: 100% !important;
    margin: auto;
    }
    .field-last {
    order: -1;
    flex-basis: 100% !important;
    margin-left: auto;
    }
    #mc-embedded-subscribe-form .button{
        margin-top: 30px;
        flex-basis: 100%;
    }
}

.indicates-required{
    width: 80%;
    max-width: 600px;
    margin: 10px auto 20px auto;
}

.asterisk{
    color: var(--red)!important; 
}

.mc-field-group {
    background-color: none !important;
    padding: 10px;
    border: 1px solid var(--white)off;
}

.mc-field-group label {
    font-family: 'open sans', sans-serif;
    background-color: none;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    border-bottom: 0px solid var(--red);
    margin-bottom: 0px;
}

.mc-field-group input {
    background-color: rgba(255,255,255,0.2) !important;
    color: white;
    width: 100%;
    font-family: 'open sans', sans-serif;
    font-size: 18px !important;
    padding: 10px 0px 10px 0px !important;
    border-radius: 0px !important;
    border: 2px solid var(--white)off;
    margin: 0px !important;
}

/*COHORT OVERVIEW*/

.overview-wrap {
    display: flex;
    background: linear-gradient(
    rgba(255, 255, 255, .6),
    rgba(255, 255, 255, 1)
    ), url(http://jackasstheology.com/wp-content/uploads/2019/06/register.jpg) center center no-repeat fixed var(--white);
    background-size: cover;
}

#overview {
    background: none;
    box-sizing: border-box;
    font-family: var(--pfont); 
    color: var(--black);
    font-size: 40px;
    margin: 30px 0px;
    border: 1px solid var(--red)off;
    
}

.overview-wrap li {
    list-style: none;
    list-style-image: 
    url(http://jackasstheology.com/wp-content/uploads/2019/06/starRD.png);
    line-height: 3.2em;
}

/* CONTENT WRAPPER */
.wrapper {
  display: flex;
  width: 100%;
  flex-flow: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  border: solid0 red;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
}

.wrapper h1 {
    
}

.content {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  max-width: 500px;
  border: solid 4px var(--black);
}

.white-border {
    border: solid 4px var(--white);
}
@media (max-width: 768px) {
  .content {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
  }
}

/* BUTTONS    */

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .button-containter {
    flex-direction: column;
  }
}

.button_1 {
  order: 1;
  background-color: var(--red);
  border: solid 0 var(--dimgrey);
  color: var(--black);
  font-weight: 600;
  font-size: 100%;
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  /* margin: 4px 5%;*/
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 300px;
}

.button_1 a {
  color: var(--white);
}

.button_2 {
  order: 2;
  background-color: var(--red);
  border: solid 0 var(--dimgrey);
  color: var(--white);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  /* margin: 4px 5%;*/
  margin: auto;
  cursor: pointer;
  max-width: 300px;
}

.button_2 a {
  color: var(--white);
}

.button:hover {
  background-color: var(--cadetblue);
  color: var(--white);
}

.fullimg {
  Font-size: 0;
  margin: 0;
  width: 100%;
}

/*VIDEO*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    min-width: 100vw;
}

/*DATES*/
.all-dates-wrap {
    margin: 0px;
}

#dates {
    margin: 0px;
}

.wrapper-dates {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 0px solid var(--black);
  max-width: 800px;
  margin-top: 50px;
}

.flex-item {
  flex: 200px;
  list-style: none;
  list-style-image: url(http://jackasstheology.com/wp-content/uploads/2019/06/starRD.png);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.with-bg-size {
  background-image: url('https://odis.homeaway.com/odis/listing/19a58545-f914-4d34-81a7-ced829da4e68.f10.jpg');
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.bgmpls {
    display:flex;
    align-content: center;
    justify-content: center;
    flex-flow: row;
    width:100%;
    height: 500px;
    border: 1px solid var(--red);
    background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.45)
     ),
     url(https://odis.homeaway.com/odis/listing/19a58545-f914-4d34-81a7-ced829da4e68.f10.jpg) center center no-repeat var(--black);
    background-size: cover;
}

.bghunt {
    display:flex;
    align-content: center;
    justify-content: center;
    flex-flow: row;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
    border: 1px solid var(--red)off;
    background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
     ),
    url(http://jackasstheology.com/wp-content/uploads/2019/06/travel.jpg) center center no-repeat var(--black);
    background-size: cover;
}

.bghunt .content {
    flex-basis: 400px;
    margin: 50px; 
}

.virtual {
    background: linear-gradient(
        rgba(255, 255, 255, .9),
        rgba(255, 255, 255, .5)
        ),
        url(http://jackasstheology.com/wp-content/uploads/2019/06/laptop.jpg) center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px;
}

/*PROFILES*/

.profile-container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.profile {
  flex-basis: 400px;
  margin-top: 0;
  border: solid 1px var(--red)off;
}

@media (min-width: 767px) {
  .profile-containter {
    flex-flow: column;
    flex-direction: column;
  }

  .profile {
    width: 800px;
    margin-top: 0;
    align-self: auto;
  }
}

.red-text {
  color: var(--red);
  text-align: center;
}

.strong-text {
  text-align: center;
}

.profileimg {
  background-color: none;
  border-radius: 50%;
  border: 4px solid var(--black);
}

.testimonials {
  font-style: italic;
  font-weight: 300;
}
